.advant {
  background: #13385D;
  padding: 49px 0 26px;

	&__container {
    display: flex;
    flex-direction: column;

    @media (max-width: 800px) {
      text-align: center;
    }
	}

  &.active &__title,
  &.active &__list {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }

	&__title {
    margin-bottom: 26px;
    color: white;

    transition: .4s ease;
    opacity: 0;
    transform: translateX(-100%);
	}

	&__list {
    text-align: left;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: clamp(7px, 0.068rem + 1.48vw, 20px);
    margin-top: auto;
    margin-bottom: auto;

    transition: .4s ease;
    transition-delay: .2s;
    opacity: 0;
    transform: scale(0.5);
	}

	&__list-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(7px, 0.068rem + 1.48vw, 20px);
    border-radius: 50%;
    background: #13385D;
    display: inline-flex;

    img {
      height: auto;
      width: clamp(170px, 5.795rem + 19.32vw, 340px);

      @media (max-width: 800px) {
        width: 70px;
      }
    }
	}
}
