.advant {
  padding: 49px 0 26px;
  background: #13385D;

	&__container {
    display: flex;
    flex-direction: column;

    @media (max-width: 800px) {
      text-align: center;
    }
	}

	&__title {
    margin-bottom: 26px;
    color: white;
	}

	&__list {
    text-align: left;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: clamp(7px, 0.068rem + 1.48vw, 20px);
    margin-top: auto;
    margin-bottom: auto;
	}

	&__list-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: clamp(7px, 0.068rem + 1.48vw, 20px);
    border-radius: 50%;
    background: #13385D;
    display: inline-flex;

    img {
      height: auto;
      width: clamp(170px, 5.795rem + 19.32vw, 340px);

      @media (max-width: 800px) {
        width: 70px;
      }
    }
	}
}
