.advant-item {
  position: relative;
  background: white;
  padding-bottom: clamp(60px, 1.960rem + 7.16vw, 123px);
  padding-top: clamp(30px, 0.739rem + 4.55vw, 70px);
  padding-right: clamp(70px, 1.676rem + 10.80vw, 165px);
  padding-left: clamp(30px, 0.739rem + 4.55vw, 70px);
  border-radius: clamp(30px, 0.739rem + 4.55vw, 70px) 0 0 0;

  &::before {
    position: absolute;
    content: '';
    height: auto;
    background:url(../img/icons/check.webp) no-repeat center, #1F5A95;
    background-size: contain;
    aspect-ratio: 1 / 1;
    width: clamp(30px, 0.597rem + 5.11vw, 75px);
    border: clamp(2px, -0.244rem + 1.48vw, 15px) solid #1F5A95;
  }

  &:nth-of-type(1) {

    &::before {
      left: 0;
      bottom: 0;
    }
  }

  &:nth-of-type(2) {
    border-radius: 0 clamp(30px, 0.739rem + 4.55vw, 70px) 0 0;
    padding-left: clamp(70px, 1.676rem + 10.80vw, 165px);
    padding-right: clamp(30px, 0.739rem + 4.55vw, 70px);

    &::before {
      right: 0;
      bottom: 0;
    }
  }
  &:nth-of-type(3) {
    border-radius: 0 0 0 clamp(30px, 0.739rem + 4.55vw, 70px);
    padding-top: clamp(60px, 1.960rem + 7.16vw, 123px);
    padding-bottom: clamp(30px, 0.739rem + 4.55vw, 70px);

    &::before {
      left: 0;
      top: 0;
    }
  }
  &:nth-of-type(4) {
    border-radius: 0 0 clamp(30px, 0.739rem + 4.55vw, 70px) 0;
    padding-top: clamp(60px, 1.960rem + 7.16vw, 123px);
    padding-bottom: clamp(30px, 0.739rem + 4.55vw, 70px);
    padding-left: clamp(70px, 1.676rem + 10.80vw, 165px);
    padding-right: clamp(30px, 0.739rem + 4.55vw, 70px);

    &::before {
      top: 0;
      right: 0;
    }
  }

  @media (max-width: 800px) {
    padding: 30px !important;
  }

  @media (max-width: 500px) {
    padding: 15px !important;
  }

  p, span, b {
    position: relative;
    z-index: 20;

    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white;
  }

  &__title {
    font-weight: 600;
    font-size: clamp(16px, 0.773rem + 0.91vw, 24px);
    
    color: #1F5A95;
    margin-bottom: 7px;
  }

  &__descr {
    font-size: clamp(11px, 0.489rem + 0.80vw, 18px);
  }
}
