.to-main-btn {
  position: fixed;
  z-index: 100;
  top: clamp(15px, 0.568rem + 1.48vw, 28px);
  right: clamp(20px, 0.767rem + 1.93vw, 37px);
  display: flex;
  background: #13385d83;
  backdrop-filter: blur(3px);
  transition: .3s ease;
  color: white;
  padding: .42em .83em;
  font-size: clamp(12px, 0.580rem + 0.68vw, 18px);
  font-weight: 600;
  border-radius: 7px;
  border: 1px solid white;

  @media (any-hover: hover) {
    &:hover {
      background: #13385d;
    }
  }
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.marker {
  position: absolute;
  pointer-events: none;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  
  background: #B21403;
}

.tag {
  font-size: 12px;
  
  background: #13385D;
  border: 0.5px solid #FFFFFF;
  border-radius: 100ch;
  padding: 9px 14px;
}

.title {
  font-weight: 800;
  font-size: clamp(36px, 1.455rem + 3.18vw, 64px);
  
  color: #1F5A95;
}

@import 'stage';
@import 'profit-item';
@import 'advant-item';

@import 'main';
@import 'about';
@import 'stages';
@import 'profit';
@import 'advant';