.page-slide {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  [class *= "__container"] {
    flex: 1;
    width: 100%;
  }
}

.pagination {
  position: fixed;
  z-index: 100;
  top: clamp(15px, 0.568rem + 1.48vw, 28px);
  right: clamp(20px, 0.767rem + 1.93vw, 37px);
  display: flex;
  gap: 6px;

  span {
    border: 1px solid #E3E3E3;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
  }

  span.swiper-pagination-bullet-active {
    background: #B21403;
    border-color: transparent;
  }
}

.marker {
  position: absolute;
  pointer-events: none;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  
  background: #B21403;
}

.tag {
  font-size: 12px;
  line-height: 90%;
  background: #13385D;
  border: 0.5px solid #FFFFFF;
  border-radius: 100ch;
  padding: 9px 14px;
}

.title {
  font-weight: 800;
  font-size: clamp(42px, 2.000rem + 2.50vw, 64px);
  line-height: 90%;
  color: #1F5A95;
}


@import 'main';
@import 'about';